{
  "extends": ["airbnb-base", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "max-classes-per-file": "off",
    "no-useless-constructor": "off",
    "class-methods-use-this": "off",
    "no-console": "off",
    "no-unused-vars": ["error", { "varsIgnorePattern": "I" }]
  }
}
